set relativenumber
set number
set clipboard+=unnamedplus
set clipboard+=ideaput

# Enable ideavim plugins
set NERDTree
set highlightedyank

#let g:highlightedyank_highlight_duration = "1000"
#let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

let mapleader = " "

nnoremap Y y$
nnoremap <leader>ci :e ~/.ideavimrc<CR>
nnoremap <leader>nt :NERDTree<CR>

map <leader>ir <Action>(IdeaVim.ReloadVimRc.reload)
map <leader>fg <Action>(Find)
map <leader>ff <Action>(GotoFile)
map <leader>fb <Action>(RecentFiles)
map <leader>ft <Action>(GotoClass)
map <leader>fs <Action>(GotoSymbol)
map <leader>fa <Action>(GotoAction)
map <leader>fd <Action>(ActivateProblemsViewToolWindow)
map <leader>df <Action>(ReformatCode)
map <leader>fr <Action>(FindUsages)
map <leader>fg <Action>(FindInPath)
map <leader>fg <Action>(FindInPath)
map <leader>ds <Action>(FileStructurePopup)
map <leader>sfp <Action>(ShowFilePath)
map <leader>zz <Action>(ToggleDistractionFreeMode)

# Git commands
map <leader>ga <Action>(Annotate)
map <leader>gc <Action>(CheckinProject)
map <leader>gp <Action>(Vcs.Push)

# Code manipulation
map <leader>ca <Action>(ShowIntentionActions)
map <leader>cr <Action>(RenameElement)
map <leader>cbc<Action>(CommentByBlockComment)
vnoremap <leader>cc :action CommentByBlockComment<CR>

#ideavim don't work well with vim history navigation
#nnoremap C-o :action Back<CR>
#nnoremap C-i :action Forward<CR>

nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>

inoremap jk <esc>
